@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  font-family:"Poppins",sans-serif;
  margin-left:auto;
  margin-right:auto;
}
table#gameHIndex{
  margin-left:auto;
  margin-right:auto;
}
a{
  color:white;
  margin-left:10px;
}
iframe{
  width:70%;
  height:200px;
  border:2px solid white;
  border-radius:10px;
}
input{
  border:2px solid white;
  border-top:none;
  border-left:none;
  border-right:none;
  outline:none;
  font-family: "Poppins", sans-serif;
  background: #3b3535;
  color:white;
}
button{
  padding:10px;
  border:none;
  background: #3b3535;
  color:white;
  cursor:pointer;
  font-family:"Poppins", sans-serif;
  border-radius:10px;
  transition:ease-in-out;
}
button:hover{
  background: #615656;
}
#header{
  padding:10px;
  background: #4D4D4D;
  width:100%;
  color:white;

}
#woohoo{
  margin-bottom:400px
}
#footer{
  background: #4D4D4D;
  width:100%;
  color:white;
  padding:10px;
}
#game_container{
  padding:10px;
  background: #262121;
  width:300px;
  height:450px;
  color:white;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  cursor:pointer;
  margin:10px;
}
#socials{
  width:30px;
  height:30px;
  cursor:pointer;
  border-radius:10px;
  margin-right:10px;
}
.body{
  padding:10px;
  background: #3b3535;
  width:100%;
  color:white;
  text-align:center;
  animation: ease-in-out, 3s;
}
